<p id="galleryTitle">Admin</p>
<main id="adminMain">
    <form>

        <input type="file" name="file" id="file" class="inputfile" />
        <label for="file" class="admin__add">
            <img src="images/plus.png" alt="Add New" class="admin__add__image">
            Add New
        </label>
    </form>
    <!-- images from database go here -->
</main>