<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/gif" href="images/favicon.png">
    <title>Red Oak Landscaping Inc</title>
    <link rel="stylesheet" href="css/style.css?v=1.1">
</head>

<body>
    <div class="wrapper">
        <header>
            <a href="/"><img id="logo" src="images/logo.png" alt="Red Oak Landscaping Inc."></a>
            <nav>
                <a href="/">Home</a>
                <a href="/gallery">Photo Gallery</a>
                <a href="/services">Services</a>
                <a href="/estimate">Free Estimate</a>
                <a href="/login">Log In</a>
            </nav>
        </header>
        <p id="galleryTitle">Admin</p>
        <main id="adminMain">
            <form>

                <input type="file" name="file" id="file" class="inputfile" />
                <label for="file" class="admin__add">
                    <img src="images/plus.png" alt="Add New" class="admin__add__image">
                    Add New
                </label>
            </form>
            <!-- images from database go here -->
        </main>
        <footer>
            <a href="/"> <img class="footerImg" src="images/home.png" alt="Home"></a>
            <a href="/gallery"><img class="footerImg" src="images/picture.png" alt="Photo Gallery"></a>
            <a href="/services"><img class="footerImg" src="images/wrench.png" alt="Services"></a>
            <a href="/estimate"><img class="footerImg" src="images/calculator.png" alt="Free Estimate"></a>

            <div class="footerContact">
                <div class="footerContact__copyrightContainer">
                    <p id="footCopyright">Copyright © 2020 Red Oak Landscaping Inc.</p>
                </div>
                <div class="footerContact__contactContainer">
                    <p class="footContact" id="footAddress">403 North 6th Street, Denver PA, 17517</p>
                    <p class="footContact" id="footPhone">Phone: 717 336 6318 / Fax: 717 336 4998</p>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/admin.js"></script>
</body>

</html>