<html lang='en' dir='ltr'>

  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='icon' type='image/gif' href='images/favicon.png' />
    <title>Red Oak Landscaping Inc</title>
    <link rel='stylesheet' href='css/style.css' />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src='https://www.googletagmanager.com/gtag/js?id=G-95LLZXZ5YR'
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []; function gtag() {
      dataLayer.push(arguments); } gtag('js', new Date()); gtag('config',
      'G-95LLZXZ5YR');
    </script>

  </head>

  <body>
    <div class='wrapper'>
      <header>
        <a href='/'><img
            id='logo'
            src='images/logo.png'
            alt='Red Oak Landscaping Inc.'
          /></a>
        <nav>
          <a href='/'>Home</a>
          <a href='/gallery'>Photo Gallery</a>
          <a href='/services'>Services</a>
          <a href='/estimate'>Free Estimate</a>
          {{! <a href='/truegrid'>TrueGrid</a> }}
          <a href='/login'>Log In</a>
        </nav>
      </header>
      <a id='trueGridTitle' href='https://www.truegridpaver.com/'>TrueGrid</a>
      <main id='servicesMain'>
        {{! <iframe src="images/truegrid.pdf" width="100%" height="1000px"></iframe> }}
        <img
          src='images/truegrid-1.jpg'
          alt='TrueGrid 1'
          class='truegrid-img'
        />
        <img
          src='images/truegrid-2.jpg'
          alt='TrueGrid 2'
          class='truegrid-img'
        />
      </main>
      <footer>
        <a href='/'>
          <img class='footerImg' src='images/home.png' alt='Home' /></a>
        <a href='/gallery'><img
            class='footerImg'
            src='images/picture.png'
            alt='Photo Gallery'
          /></a>
        <a href='/services'><img
            class='footerImg'
            src='images/wrench.png'
            alt='Services'
          /></a>
        <a href='/estimate'><img
            class='footerImg'
            src='images/calculator.png'
            alt='Free Estimate'
          /></a>
        <a href='/truegrid'><img
            class='footerImg'
            src='images/foxblock.png'
            alt='TrueGrid'
          /></a>

        <div class='footerContact'>
          <div class='footerContact__copyrightContainer'>
            <p id='footCopyright'>Copyright © 2020 Red Oak Landscaping Inc.</p>
          </div>
          <div class='footerContact__contactContainer'>
            <p class='footContact' id='footAddress'>403 North 6th Street, Denver
              PA, 17517</p>
            <p class='footContact' id='footPhone'>Phone: 717 336 6318 / Fax: 717
              336 4998</p>
          </div>
        </div>
      </footer>
    </div>

  </body>

</html>